 <div class="container">

  <div class="row">
    <div class="col-md-8">
      <h3 class="text-center">Keep in touch</h3>

      <div class="row">
          <div class="col-md-6">
            <input  class="form-control  nameinp" type="text" placeholder="name">
          </div>
          <div class="col-md-6">
            <input class="form-control  nameinp" type="text" placeholder="Email">
          </div>
      </div>

          <input class="form-control" type="text" placeholder="Subject">
          <textarea rows="13" cols="30" class="form-control bg-transparent " placeholder="Message"></textarea>

            <button type="submit" class="btn btn-info mt-4 w-25 mb-3 ">Send Message</button>


      </div>

      <div class="col-md-4 side ">
        <div class="content mt-5 ml-5">
        <h3 class="mb-5">Contact us</h3>

        <p>
          <i class="fas fa-map-marker-alt"></i>  Address: 198 West 21th Street, Suite 721 New York NY 10016
        </p>
        <p>
          <i class="fas fa-phone-alt"></i>  Phone: + 1235 2355 98
        </p>
        <P>
          <i class="fas fa-envelope-open"></i> Email: info@yoursite.com
        </P>
        <P>
          <i class="far fa-paper-plane"></i>  Website yoursite.com
        </P>

      </div>
    </div>
    </div>
  </div>
